.navigation {
  .navigation-wrapper {
    border: none !important;
    border-bottom: 1px solid #e8e8e8 !important;
    background-color: #fff;
    height: 34px;
    z-index: 900;
    nav {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      .main-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .tab-link {
          flex-shrink: 0;
          flex-grow: 1;

          .sub-nav {
            width: 100%;
            max-height: 0;
            height: 370px;
            background-color: #fff;
            box-shadow: inset 0 0 1px 1px #ebebeb;
            position: absolute;
            left: 0;

            overflow: hidden;
            display: block;
            .sub-nav-center {
              width: 100%;
              padding: 20px !important;
              display: flex;
              height: 100%;
              .sub-nav-outer {
                width: 100%;

                .normal-column {
                  display: flex;
                  justify-content: flex-start;
                  flex-direction: column;
                  flex-wrap: wrap;
                  height: 370px;
                  width: 100%;
                  .category-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    margin: 0;
                    padding: 0;

                    a {
                      font-size: 15px;
                      font-family: source_sans_prosemibold, serif !important;
                      -webkit-font-smoothing: antialiased;
                      font-style: normal;
                      font-stretch: normal;

                      &:hover {
                        color: var(--bg-trendyol);
                        text-decoration: underline;
                      }
                    }
                    ul {
                      .sub-item {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        line-height: 20px !important;
                        a {
                          font-size: 13px;
                          color: var(--gray);

                          display: inline-flex;
                          font-family: "source_sans_proregular", sans-serif;
                          color: #666;
                          font-weight: 400;
                          font-style: normal;
                          font-stretch: normal;

                          &:hover {
                            color: var(--bg-trendyol);
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .small {
              width: 300px !important;
            }
            .medium {
              width: auto !important;
            }
            .campaign-container {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              width: 600px;
              gap: 10px;
              .campaign-link {
                background: #000;
                width: 265px;
                height: 137px;

                .campaign-img {
                  background-color: red;
                  height: 100%;
                  width: 100%;
                  border-radius: 6px;

                  &:hover {
                    transform: scale(1.015);
                    transition: all 1s ease;
                  }
                }
              }
            }
          }

          .enabled {
            max-height: 350px;
          }
          .animation {
            transition: max-height 250ms;
          }
        }
      }
    }
  }
}
