.top-silider {
  width: 135px;
  height: 135px;
  .top-sildir-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      display: block;
      margin: 0;
    }
    span {
      font-family: "source_sans_prosemibold", sans-serif;
      text-align: center;
      margin-top: 10px;
      color: #333;
      font-size: 14px;
      display: block;
      transition: all ease 0.2s;
      line-height: 14px;
      height: 42px;
      background-color: red;
    }

    &:hover {
      img {
        border: 1px solid var(--bg-trendyol);
      }
      span {
        color: var(--bg-trendyol);
      }
    }
  }
}
